#
# LoRa
#

menu "LoRa Device Drivers"

config LORA_DEV
	tristate "LoRa drivers"
	default y
	help
	  LoRa ...
	  If unsure, say Y.

#
# Alphabetically sorted.
#

if LORA_DEV

config LORA_RAK811
	tristate "RAK RAK811 driver"
	default y
	depends on SERIAL_DEV_BUS
	help
	  RAK RAK811/RAK812

config LORA_RN2483
	tristate "Microchip RN2483/RN2903 driver"
	default y
	depends on SERIAL_DEV_BUS
	help
	  Microchip RN2483/2903

config LORA_SX125X_CORE
	tristate

config LORA_SX125X
	tristate "Semtech SX125x driver"
	depends on SPI
	help
	  Semtech SX1255/1257 driver

config LORA_SX125X_SPI
	bool "Semtech SX125x SPI driver"
	default n
	depends on LORA_SX125X
	depends on SPI
	select REGMAP_SPI
	select LORA_SX125X_CORE
	help
	  Semtech SX1255/1257 SPI driver

config LORA_SX127X
	tristate "Semtech SX127x SPI driver"
	default y
	depends on SPI
	help
	  Semtech SX1272/1276/1278

config LORA_USI
	tristate "USI WM-SG-SM-42 driver"
	default y
	depends on SERIAL_DEV_BUS
	help
	  USI WM-SG-SM-42

config LORA_WIMOD
	tristate "IMST WiMOD driver"
	default y
	depends on SERIAL_DEV_BUS
	select CRC_CCITT
	help
	  IMST WiMOD

endif

endmenu
