config MACLORAWAN
	tristate "Generic LoRaWAN Soft Networking Stack (maclorawan)"
	depends on LORAWAN
	select CRYPTO
	select CRYPTO_CMAC
	select CRYPTO_CBC
	select CRYPTO_AES
	help
	  This option enables the hardware independent LoRaWAN
	  networking stack for SoftMAC devices (the ones implementing
	  only PHY level of LoRa standard).

	  If you plan to use HardMAC LoRaWAN devices, you can say N
	  here.  Alternatively you can say M to compile it as a module.
